<div class="column-layout group">
  <div class="row-layout group_1">
    <img src="/assets/AdventureCon-Website_Logo1 (1).png" class="image" />
  </div>
  <div class="row-layout group_2">
    <p class="text">
      Welcome to AdventureCon, the premier board gaming convention in scenic Bentonville, Arkansas! Immerse yourself in a world of strategy, imagination, and camaraderie, where gaming enthusiasts and curious newcomers converge to celebrate the rich and diverse world of board games
    </p>
  </div>
  <div class="row-layout group_1">
    <button igxButton="contained" igxRipple routerLink="/master-view/home" class="button">
      ENTER
    </button>
  </div>
</div>
