<div class="column-layout group">
  <div class="row-layout group_1">
    <img src="/assets/AdventureCon_banner.jpeg" class="image" />
  </div>
  <div class="row-layout group_2">
    <div class="row-layout group_3">
      <p class="text">
        {{ timer }}
      </p>
    </div>
    <div class="row-layout group_4">
      <button igxButton="contained" igxRipple class="button">
        <span>Get Tickets</span>
        <igx-icon>
          arrow_right_alt
        </igx-icon>
      </button>
    </div>
  </div>
  <div class="column-layout group_5">
    <div class="row-layout group_6">
      <p class="text_1">
        Step into a realm where playfulness and imagination intertwine! AdventureCon is transforming the game—be part of a legendary convergence of board, social deduction, and card games, along with tabletop RPGs. Mark your calendars for May 24-26, and join fellow game enthusiasts, vendors, and publishers in Bentonville, Arkansas, for an unforgettable adventure in the diverse universe of games!
      </p>
    </div>
    <div class="row-layout group_7">
      <img src="/assets/image 14points.png" class="image_1" />
      <p class="content">
        Four Points by Sheraton - Bentonville
211 SE Walton Boulevard, Bentonville, AR, United States

Experience the ultimate board gaming event in a venue designed for enthusiasts like you at the elegant and spacious Four points by Sheraton.

Features
Enjoy modern facilities and amenities that Four Points by Sheraton offers
Easily Accessible from major routes, right off Highway 49
Ample parking spaces for attendees
Located in a great spot near many restaurants, parks, and Greenway trail
      </p>
    </div>
  </div>
  <div class="column-layout group_8">
    <div class="row-layout group_9">
      <h2 class="content">
        Platinum Sponsors
      </h2>
    </div>
    <div class="row-layout group_10">
      <img src="/assets/Bolder_Coffee_Website_Logo_25df7197-162d-4fb6-9c07-4333fec6a4db.png" class="image_2" />
    </div>
  </div>
  <div class="column-layout group_11">
    <div class="row-layout group_9">
      <h2 class="content">
        Gold Sponsors
      </h2>
    </div>
    <div class="row-layout group_12">
      <img src="/assets/Black Visit Bentonville Logo.jpg" class="image_3" />
    </div>
  </div>
  <div class="column-layout group_13">
    <div class="row-layout group_9">
      <h2 class="content">
        Silver Sponsors
      </h2>
    </div>
    <div class="row-layout group_14">
      <img src="/assets/font-awesome-logo.png" class="image_4" />
    </div>
  </div>
  <div class="column-layout group_13">
    <div class="row-layout group_9">
      <h2 class="content">
        Publisher Sponsors
      </h2>
    </div>
    <div class="row-layout group_15">
      <img src="/assets/allplay (1).png" class="image_5" />
    </div>
  </div>
  <div class="column-layout group_13">
    <div class="row-layout group_9">
      <h2 class="content">
        Partnerships
      </h2>
    </div>
    <div class="row-layout group_16">
      <img src="/assets/envoy.png" class="image_6" />
      <img src="/assets/Dice&Dine.png" class="image_7" />
      <img src="/assets/modern-storage.png" class="image_8" />
    </div>
  </div>
  <div class="column-layout group_17">
    <div class="row-layout group_18">
      <h2 class="content_1">
        Contact Us
      </h2>
    </div>
    <div class="column-layout group_19">
      <div class="row-layout group_20">
        <p class="content_1">
          Want to be a sponsor or have a general inquiry? Drop us a message!
        </p>
      </div>
      <igx-input-group type="border" class="input">
        <input type="text" [required]="true" igxInput />
        <label igxLabel>Email</label>
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [required]="true" igxInput />
        <label igxLabel>Name</label>
      </igx-input-group>
      <igx-input-group type="border" class="ig-typography__body-1 textarea">
        <label igxLabel>Message</label>
        <textarea igxInput></textarea>
      </igx-input-group>
      <button igxButton="contained" igxRipple class="button_1">
        Submit
      </button>
    </div>
  </div>
</div>
