/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #666;
  line-height: 1.7em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

body, html, app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  padding-bottom: .5rem;
}

/*===== Reveal Elements CSS =======*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s ease;
  transition-property: transform, opacity;

  &.active {
    transform: translateY(0px);
    opacity: 1;
  }
}
