/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #666;
  line-height: 1.7em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

body, html, app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  padding-bottom: .5rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

.card-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 4px 0;
  border: none;
  min-width: 12rem;
  text-align: center;

  &:hover {
    opacity: 0.9;
  }
}

.btn.blue, .card-btn.blue {
  background-color: rgb(39, 120, 196);
  color: white;
}

.btn.secondary, .card-btn.secondary {
  background-color: white;
  border: 1px solid rgb(39, 120, 196);
  color: rgb(39, 120, 196);
}

/*===== Reveal Elements CSS =======*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s ease;
  transition-property: transform, opacity;

  &.active {
    transform: translateY(0px);
    opacity: 1;
  }
}
